<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> 404 </title>
        <style>



        </style>

    </head>

    <body>
        
        <h1> Oops! </h1>
        <h3> We can't seem to find the page you are looking for </h3>
        <p> Error code 404 </p>
        <img src = "https://ouch-cdn2.icons8.com/67vDD6EbMV0LuFgrCzxq0qol0-pMQ5TtxM7--0UA6eo/rs:fit:709:456/extend:false/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMjk4/LzFmMzc3YTY1LWRj/YTMtNDk0Ni1iMDZm/LTJmOTQ3ZmYxNDcz/OC5zdmc.png">
        
    </body>

</html>